/* ————————————————————————————————————————————————— BACKGROUND ————————————————————————————————————————————————— */

.main-1,
.main-3 {
  height: 100dvh;
}

.main-1 {
  background-image: url(../images/bg/bg_main_1.jpg);
}

.main-3 {
  background-image: url(../images/bg/bg_main_3.jpg);
}

.main-2 {
  background-color: var(--dark-gray-azuko-rgb);
}

.main-2-row {
  height: 150dvh;
}

.products {
  background-image: url(../images/bg/bg_products.jpg);
}

.album_1 {
  background-image: url(../images/bg/albums/FUNNY\ but\ NOBODY.jpg);
}
.album_2 {
  background-image: url(../images/bg/albums/with\ love\ from\ Azuko.jpg);
}
.album_3 {
  background-image: url(../images/bg/albums/ВРЕМЯ\ ПЕРЕМЕН.jpg);
}
.album_4 {
  background-image: url(../images/bg/albums/Highway\ Of\ Love\ \(Deluxe\).jpg);
}
.album_5 {
  background-image: url(../images/bg/albums/Highway\ Of\ Love.jpg);
}
.album_6 {
  background-image: url(../images/bg/albums/Mileran\ Vibes.jpg);
}
.album_7 {
  background-image: url(../images/bg/albums/Life\ Is\ Full\ Of\ Lies\ 2\ \(Before\ Love\ Story\).jpg);
}
.album_8 {
  background-image: url(../images/bg/albums/Life\ Is\ Full\ Of\ Lies.jpg);
}
