/* ————————————————————————————————————————————————— DEFAULT SETTINGS ————————————————————————————————————————————————— */

:root {
  --product-card-rgb: rgb(149, 149, 149);
}

@font-face {
  font-family: 'Azuko';
  src: url(../fonts/Jura-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Azuko';
}

body {
  background-color: var(--dark-gray-azuko-rgb);
  padding: 0;
  margin: 0;
}















