/* ————————————————————————————————————————————————— DEFAULT SETTINGS ————————————————————————————————————————————————— */

@font-face {
    font-family: 'Azuko';
    src: url(../fonts/Exo2-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
    width: 0;
}

* {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: 'Azuko';
}

.nav_container {
    background-color: var(--dark-gray-rgb);
    border-radius: 10px;
}

.navbar_links a, .shopping_cart {
    text-decoration: none;
    color: var(--periwinkle-purple-rgb);
    text-shadow: var(--periwinkle-purple-shadow);
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s;
}

.navbar_links a:hover, .shopping_cart:hover {
    background-color: var(--periwinkle-purple-rgb);
    color: var(--dark-gray-rgb);
    text-shadow: var(--dark-gray-shadow);
}

.main-1 {
    height: 100vh;
    background-image: url(../images/bg_main_1.jpeg);
}

.title span {
    font-size: 20vh;
    color: var(--periwinkle-purple-rgb);
    opacity: .7;
    letter-spacing: 4vw;
    font-weight: bold;
    text-shadow: 10px 10px 5px var(--periwinkle-purple-rgb);
}

.main-2 {
    height: 100vh;
    background-image: url(../images/bg_main_2.jpeg);
}

.main-3 {
    height: 100vh;
    background-image: url(../images/bg_main_3.jpeg);
}