/* ————————————————————————————————————————————————— DEFAULT SETTINGS ————————————————————————————————————————————————— */

@font-face {
    font-family: 'Azuko';
    src: url(../fonts/Exo2-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
    width: 0;
}

* {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: 'Azuko';
}

/* ————————————————————————————————————————————————— HEADER ————————————————————————————————————————————————— */

.nav_container {
    background-color: var(--dark-gray-rgb);
    border-radius: 10px;
    transition: .3s;
}

.nav_container:hover {
    transform: scale(1.05);
}

.navbar_links a, .shopping_cart {
    text-decoration: none;
    color: var(--periwinkle-purple-rgb);
    text-shadow: var(--periwinkle-purple-shadow);
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s;
}

.navbar_links a:hover, .shopping_cart:hover {
    background-color: var(--periwinkle-purple-rgb);
    color: var(--dark-gray-rgb);
    text-shadow: var(--dark-gray-shadow);
}

.title span {
    font-size: 20vh;
    color: var(--periwinkle-purple-rgb);
    opacity: .85;
    letter-spacing: 4vw;
    text-shadow: 1px 1px 5px var(--periwinkle-purple-rgb);
}

/* ————————————————————————————————————————————————— BACKGROUND ————————————————————————————————————————————————— */

.main-1 {
    height: 100dvh;
    background-image: url(../images/bg_main/bg_main_1.jpg);
}
.main-2 {
    height: 100dvh;
    background-image: url(../images/bg_main/bg_main_2.jpg);
}

.main-3 {
    height: 100dvh;
    background-image: url(../images/bg_main/bg_main_3.jpg);
}

/* ————————————————————————————————————————————————— MAIN 2 ————————————————————————————————————————————————— */

.last_release {
    filter: grayscale(1) blur(4px);
    transition: .3s;
}

.last_release img {
    border-radius: 10px;
}

.last_release:hover {
    filter: none;
    transform: scale(1.1);
}

.last_releases_title {
    font-size: 3vh;
    color: var(--periwinkle-purple-rgb);
    opacity: .85;
    text-shadow: var(--periwinkle-purple-shadow);
}

.release_title {
    font-size: 1.5em;
    color: var(--whitesmoke-rgb);
    text-shadow: var(--whitesmoke-rgb);
}

.release_artist {
    font-size: 1em;
    color: var(--periwinkle-purple-rgb);
    text-shadow: var(--periwinkle-purple-rgb);
}
/* ————————————————————————————————————————————————— MAIN 3 ————————————————————————————————————————————————— */



