{% block featurings_carousel %}
<div class="row justify-content-center align-items-center vh-100" id="featurings_cards">
    <div class="col-10">
        <div class="row justify-content-center shadow-sm rounded-5">
            <div class="col-12 d-flex justify-content-center">
                <img src="{{url_for('static', path='/images/logos/featurings_logo.png')}}" alt="Featurings" width="300">
            </div>
            <div class="col-12 px-0 rounded-5 mt-4">
                <div id="featurings_carousel" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for item in range(featurings|length) %}
        
                        {% if loop.first %}
                        <button type="button" data-bs-target="#featurings_carousel" data-bs-slide-to="{{ loop.index - 1 }}" class="active"
                        aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                        {% else %}
                        <button type="button" data-bs-target="#featurings_carousel" data-bs-slide-to="{{ loop.index - 1 }}"
                        aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                        {% endif %}
        
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for featuring in featurings %}
        
                        {% if loop.first %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
        
                            <img src="{{ url_for('static', path='/images/carousel/carousel_featurings/'+featuring.cover) }}" class="d-block w-100 rounded-5" alt="{{ featuring.name }}">
                            <a href="/{{ featuring.url }}"><button style="background-image: url({{url_for('static', path='/images/carousel/carousel_featurings/buttons/'+featuring.button)}});" class="project_slider_button featurings_slider_button">LISTEN</button></a>
                        </div>
        
                        {% endfor %}
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#featurings_carousel"
                            data-bs-slide="prev">
                            <span aria-hidden="true">
                                <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
                            </span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#featurings_carousel"
                            data-bs-slide="next">
                            <span aria-hidden="true">
                                <i class="fa-solid fa-circle-chevron-right fa-2xl"></i>
                            </span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-2 d-flex justify-content-center">
                    <a href="#singles_cards" class="slider_products"><i class="fa-solid fa-up-long fa-xl"></i></a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <a href="#footer" class="slider_products"><i class="fa-solid fa-down-long fa-xl"></i></a>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}