{% block single_carousel %}
<div class="row justify-content-center align-items-center vh-100" id="singles_cards">
    <div class="col-12">
        <div class="row justify-content-center gap-4 singles_row">
            <div class="col-12 d-flex justify-content-center">
                <img src="{{url_for('static', path='/images/logos/singles_logo.png')}}" alt="Singles" width="350">
            </div>
            {% for single in singles | sort(attribute='id') %}
            {% if loop.index <= 3 %} <div class="col-2 p-0">
                <div class="card rounded-3 card_single">
                    <img loading="lazy" role="presentation"
                        src="{{ url_for('static', path='/images/projects/singles/'+single.id|string+'.jpg') }}"
                        class="card-img-top rounded-top-3" alt="{{ single.title }}">
                    <div class="card-body">
                        <p class="single_name m-0 text-center">
                            {{ single.title }}
                        </p>  
                        <p class="single_artist m-0 text-center">
                            {% for artist in single.artists | sort(attribute='id') %}
                            {{ artist.name + ', ' if not loop.last else artist.name }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
        </div>

        {% else %}

        <div class="col-2 p-0 disabled_single_card">
            <div class="card rounded-3 card_single">

                <img loading="lazy" decoding="async" role="presentation"
                    src="{{ url_for('static', path='/images/projects/singles/'+single.id|string+'.jpg') }}"
                    class="card-img-top rounded-top-3" alt="{{ single.title }}">

                <div class="card-body">
                    <p class="single_name m-0 text-center">
                        {{ single.title }}
                    </p>
                    <p class="single_artist m-0 text-center">
                        {% for artist in single.artists | sort(attribute='id') %}
                        {{ artist.name + ', ' if not loop.last else artist.name }}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        {% endif %}

        {% endfor %}

        <div class="col-12">
            <div class="row d-flex justify-content-center column-gap-0 align-items-center">
                <div class="col-1 d-flex justify-content-end">
                    <a href="#albums_carousel_div" class="slider_products"><i class="fa-solid fa-up-long fa-xl"></i></a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <a class="slider_products show_more_button fw-bold" id="show_more_singles_button"
                        href="#singles_cards">
                        SHOW MORE
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-start">
                    <a href="#featurings_cards" class="slider_products"><i class="fa-solid fa-down-long fa-xl"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
{% endblock %}