{% block single_carousel %}
<div class="row justify-content-center align-items-center" id="singles_cards">
    <div class="col-9">
        <div class="row justify-content-center column-gap-3 row-gap-5">

            <div class="col-12 d-flex justify-content-center">
                <img src="{{url_for('static', path='/images/logos/singles_logo.png')}}" alt="Singles" width="350">
            </div>

            {% for single in singles %}
            <div class="col-3">
                <div class="card card_single rounded-4">
                    <img loading="lazy" src="{{ url_for('static', path='/images/projects/singles/'+single.cover) }}" 
                    class="card-img-top rounded-top-4" alt="{{ single.name }}">
                    <div class="card-body">
                        <p class="single_name m-0 text-center">{{ single.name }}</p>
                        <p class="single_artist text-center">{{ single.artist }}</p>
                        <div class="d-grid">
                            <a href="#" class="button_single">Listen</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="row justify-content-center mt-5">
                <div class="col-2 d-flex justify-content-center">
                    <a href="#albums_carousel_div" class="slider_products"><i class="fa-solid fa-up-long fa-xl"></i></a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <a href="#featurings_cards" class="slider_products"><i class="fa-solid fa-down-long fa-xl"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}