<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azuko</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/public/bundle.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon_azuko.ico') }}" type="image/x-icon">
</head>

<body id="extras">

    {% include 'elements/preloader.html' %}

    {% include 'shopping_cart_content/shopping_cart.html' %}

    {% include 'extras_content/extras_header.html' %}

    {% include 'extras_content/bg_video_extras.html' %}

    <div class="container-fluid">

        <div class="row d-flex align-items-center vh-100">
            <div class="offset-1 col-11 d-flex justify-content-between align-items-center">
                <div>
                    <span class="extras_title">EXTRAS</span>
                    <p class="m-0 text-center extras_description">
                        Scroll below to see more information
                    </p>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center vh-100" id="extras_genres">
            <div class="offset-1 col-5 d-flex justify-content-between align-items-center">
                <div>
                    <span class="extras_title">GENRES & KEYS</span>
                    <p class="m-0 text-start extras_description">
                        All beats in the Products section will have a genre and key.
                        In the scrollable section on the right you can see all the available
                        genres and their descriptions to fully understand what kind of sound you
                        want to use in your song.
                    </p>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-12 extras_genre_div p-4">
                        {% for genre in genres %}
                        {% if loop.last %}
                        <div>
                        {% else %}
                        <div class="mb-5">
                        {% endif %}
                            <h1>{{ genre.name }}</h1>
                            <p>{{ genre.description }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-4">
                        <i class="fa-solid fa-angles-down fa-xl genres_arrow_down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'extras_content/extras_footer.html' %}

    <script src="{{ url_for('static', path='/public/bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/fb866d52e1.js" crossorigin="anonymous"></script>
</body>

</html>