{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-6 d-flex justify-content-between">
            <a href="playlist/albums">Albums</a>
            <a href="playlist/singles">Singles</a>
            <a href="playlist/featurings">Featurings</a>
            <a href="playlist/tracks">Tracks</a>
        </div>
    </div>
</div>
{% endblock %}
<!-- {% for album in albums %}
        <h1>Album: {{ album.title }}</h1>
        <h4>Date Release: {{ album.date_release }}</h4>
        <p>
            {% for artist in album.artists %}
                {{ artist.name + ', ' if not loop.last else artist.name }}
            {% endfor %}
        </p>
        <ul style="list-style-type: decimal;">
            {% for track in album.tracks|sort(attribute='id') %}
            <li>
                {{ track.title }} —
                {% for artist in track.artists %}
                {{ artist.name + ', ' if not loop.last else artist.name }}
                {% endfor %} |
                {{ track.duration }}
            </li>    
            {% endfor %}
        </ul>
        {{loop.index}}
    {% endfor %} -->