/* ————————————————————————————————————————————————— PROJECTS ————————————————————————————————————————————————— */

#projects {
    background-image: url('../images/bg/bg_projects.jpg');
}

.carousel_album_title {
    padding: 0 20px 20px 0;
    color: var(--light-gray-azuko-rgb);
    text-shadow: var(--black-shadow);
    font-weight: 200;
}

.project_slider_button {
    padding: 1vh 5vw;
    border: none;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--white-rgb);
    text-shadow: var(--black-shadow);
    background-color: var(--periwinkle-purple-rgb);
    box-shadow: 2px 2px 10px var(--dark-gray-azuko-rgb);
    border-radius: 10px;
    transition: .3s;
}

.project_slider_button:hover {
    background-color: var(--periwinkle-purple-rgb-deep);
}

.project_slider_button:focus {
    transform: scale(0.95);
    box-shadow: none;
}

.albums_slider_button {
    top: 75.5%;
}

.singles_slider_button,
.featurings_slider_button {
    top: 52%;
}

.card_single,
.card_featuring {
    background-color: var(--dark-gray-rgb) !important;
}

.card {
    border: 1px solid var(--black-shadow) !important;
    z-index: 1;
    transition: .3s;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1000;
    box-shadow: 3px 3px 10px var(--black-rgb);
}

.card_single a,
.card_featuring a {
    text-decoration: none;
}

.button_single,
.button_featuring {
    background-color: var(--light-gray-azuko-rgb);
    color: var(--whitesmoke-rgb);
    text-shadow: var(--black-shadow);
    text-align: center;
    padding: 8px 0;
    transition: .3s;
    border-radius: 8px;
}

.show_more_button {
    background-color: var(--periwinkle-purple-rgb);
    border-radius: 10px !important;
}

.button_single:hover,
.button_featuring:hover {
    background-color: var(--light-gray-azuko-rgb-deep);
}

.show_more_button:hover {
    background-color: var(--periwinkle-purple-rgb-deep);
    box-shadow: 3px 3px 10px var(--black-rgb);
    transform: scale(1.05);
}

.show_more_button:focus {
    transform: scale(.95);
}

.single_name,
.featuring_name {
    font-size: .85em !important;
    color: var(--whitesmoke-rgb);
    text-shadow: var(--black-shadow);
}

.single_artist,
.featuring_artist {
    font-size: .85em;
    color: var(--periwinkle-purple-rgb);
    text-shadow: var(--black-shadow);
}

.disabled_single_card,
.disabled_featuring_card {
    display: none;
}

.carousel_image, .carousel-inner {
    border-radius: 25px !important;
}

.bg_carousel {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.bg_1 {
    background-image: url(../images/projects/albums/bg_carousel/1.jpg);
}
.bg_2 {
    background-image: url(../images/projects/albums/bg_carousel/2.jpg);
}
.bg_3 {
    background-image: url(../images/projects/albums/bg_carousel/3.jpg);
}
.bg_4 {
    background-image: url(../images/projects/albums/bg_carousel/4.jpg);
}
.bg_5 {
    background-image: url(../images/projects/albums/bg_carousel/5.jpg);
}
.bg_6 {
    background-image: url(../images/projects/albums/bg_carousel/6.jpg);
}
.bg_7 {
    background-image: url(../images/projects/albums/bg_carousel/7.jpg);
}
.bg_8 {
    background-image: url(../images/projects/albums/bg_carousel/8.jpg);
}

.carousel_left_part {
    margin-left: 12vw;
    margin-right: 8vw;
}

.carousel_left_part span {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 1vh 5vw;
    color: var(--white-rgb);
    text-shadow: var(--black-shadow);
    background-color: var(--periwinkle-purple-rgb);
    box-shadow: 2px 2px 10px var(--dark-gray-azuko-rgb);
    border-radius: 10px;
}

.carousel_left_part p {
    font-size: 1.3em;
    color: var(--white-rgb);
    text-shadow: var(--black-shadow);
}

.carousel_right_part {
    margin-right: 12vw;
}

.cover_carousel {
    border-radius: 15px;
    height: 35vh;
}

