{% block main_3 %}
<div class="main-3">

    <div class="container">
        <div class="row d-flex align-items-center vh-100">

            <div class="col-6">
                <div class="d-flex justify-content-center align-items-center who_is_azuko_div">
                    <span class="who_is_azuko_title">WHO IS AZUKO?</span>
                </div>
                <div class="who_is_azuko">
                    <div class="who_is_azuko_card">
                        <img class="who_is_azuko_img" src="../../static/images/other/who_is_azuko.jpg"
                            width="100%" alt="">
                        <p class="m-0 who_is_azuko_description">
                            <em>"Hi! My name is Azuko and I'm an artist, producer, sound engineer, and I also wrote this
                                website.
                                Here you can listen to my music, buy beats or other products. Cheers!"</em> — Azuko.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="d-flex justify-content-center align-items-center products_title_div">
                    <p class="m-0 text-center products_title">PRODUCTS</p>
                </div>
                <div class="products_main_div">
                    <div class="row d-flex justify-content-between products_div">
                        {% for product in products %}
                        <div class="col-6">
                            {% if 'mixing_and_mastering' in product[0] %}
                            <a href="/">
                                <img loading="lazy" src="{{url_for('static', path='/images/products/'+product[0])}}" class="card-img-top img_product" alt="">
                            </a>
                            {% else %}
                            <a href="/">
                                <img loading="lazy" src="{{url_for('static', path='/images/products/'+product[0])}}" class="card-img-top img_product" alt="">
                            </a>
                            {% endif %}
                            <div class="product_info">
                                {% if 'mixing_and_mastering' in product[0] %}
                                <p
                                    class="m-0 text-uppercase text-center d-flex align-items-center justify-content-center">
                                    <span class="product_name">{{ product[2] }}&nbsp;<i
                                            class="fa-solid fa-ruble-sign"></i></span>
                                    &nbsp;&nbsp;<span class="text-decoration-line-through old_price">{{ product[1]
                                        }}
                                        <i class="fa-solid fa-ruble-sign"></i></span>
                                </p>
                                {% else %}
                                <p class="m-0 product_name text-uppercase text-center">{{ product[1] }}
                                    <i class="fa-solid fa-ruble-sign"></i>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center other_products_div">
                    <a href="/products"><button class="other_products_button">OTHER PRODUCTS</button></a>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}