{% block main_2 %}
<div class="main-2">

    <div class="container vh-100">
        <p class="last_releases_title text-center">LAST RELEASES</p>

        <div class="row d-flex justify-content-center align-items-center g-5">
            {% for i in range(3) %}
            <div class="col-4">
                <a class="last_release" href="">
                    <img loading="lazy" src="../../static/images/last_releases/{{ i }}.jpg" class="card-img-top"
                        alt="...">
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

</div>
{% endblock %}