{% block footer %}

<footer id="footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <img src="{{url_for('static', path='/images/logos/footer_logo_azuko.png')}}" width="100%" alt="AZUKO">
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-3 footer_col text-uppercase">
                        <p class="footer_title">MENU</p>
                        <hr>
                        <ul>
                            {% set menu = ['Home', 'Playlist', 'Projects', 'Products'] %}
                            {% for footer_link in menu %}
                            <a href="/" class="footer_link">
                                <li>{{ footer_link }}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-3 footer_col text-uppercase">
                        <p class="footer_title">PRODUCTS</p>
                        <hr>
                        <ul>
                            {% set products = ['Beats', 'Mixing', 'Mastering'] %}
                            {% for footer_link in products %}
                            <a href="/" class="footer_link">
                                <li>{{ footer_link }}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-3 footer_col text-uppercase">
                        <p class="footer_title">PROJECTS</p>
                        <hr>
                        <ul>
                            {% set projects = [
                            {'name': 'Albums', 'url': '#albums_carousel_div'},
                            {'name': 'Singles', 'url': '#singles_cards'},
                            {'name': 'Featurings', 'url': '#featurings_cards'}
                            ]
                            %}
                            {% for footer_link in projects %}
                            <a href="/projects{{ footer_link.url }}" class="footer_link">
                                <li>{{ footer_link.name }}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-3 footer_col text-uppercase">
                        <p class="footer_title">PLAYLIST</p>
                        <hr>
                        <ul>
                            {% set projects = [
                            {'name': 'Albums', 'url': 'albums'},
                            {'name': 'Singles', 'url': 'singles'},
                            {'name': 'Featurings', 'url': 'featurings'}
                            ]
                            %}
                            {% for footer_link in projects %}
                            <a href="/{{ footer_link.url }}" class="footer_link">
                                <li>{{ footer_link.name }}</li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-12 row-gap-1 footer_col text-uppercase">
                        <p class="footer_title">ALBUMS</p>
                        <hr>
                        <div class="row d-flex flex-wrap justify-content-between align-items-center">
                            {% set albums = [
                            {'name': 'FUNNY but NOBODY', 'url': 'playlist/albums/1'},
                            {'name': 'with love from Azuko', 'url': 'playlist/albums/2'},
                            {'name': 'ВРЕМЯ ПЕРЕМЕН', 'url': '3'},
                            {'name': 'Highway Of Love (Deluxe)', 'url': 'playlist/albums/4'},
                            {'name': 'Highway Of Love', 'url': 'playlist/albums/5'},
                            {'name': 'Mileran Vibes', 'url': 'playlist/albums/6'},
                            {'name': 'Life Is Full Of Lies 2', 'url': 'playlist/albums/7'},
                            {'name': 'Life Is Full Of Lies', 'url': 'playlist/albums/8'}
                            ]
                            %}
                            {% for album in albums %}
                            <div class="col-3">
                                <a href="/{{ album.url }}" class="footer_link">
                                    <p class="m-0 text-center">{{ album.name }}</p>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <a href="/" class="text-decoration-none">
                    <button class="order_service_button">ORDER SERVICE</button>
                </a>
                <p class="mb-0 mt-2 support_description">SUPPORT&nbsp;&nbsp;THE&nbsp;&nbsp;AUTHOR</p>
                <div class="d-flex justify-content-between align-items-center column-gap-2 mt-1 contacts">
                    <a href="/">tazumaki@mail.ru</a>
                    {% set fa_icons = ['fa-vk', 'fa-telegram', 'fa-youtube'] %}
                    {% for icon in fa_icons %}
                    <a href="/"><i class="fa-brands {{ icon }} fa-xl"></i></a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</footer>

{% endblock %}