{% block footer %}

<footer id="footer">
    <div class="container-fluid">
        <div class="row gap-5">
            <div class="col-2 d-flex flex-column justify-content-between align-items-center">
                <img src="{{url_for('static', path='/images/logos/footer_logo_azuko.png')}}" width="100%" alt="AZUKO">
            </div>
            <div class="col footer_col text-uppercase">
                <p class="footer_title">MENU</p>
                <hr>
                <ul>
                    <a href="/" class="footer_link">
                        <li>Home</li>
                    </a>
                    <a href="/" class="footer_link">
                        <li>Playlist</li>
                    </a>
                    <a href="/" class="footer_link">
                        <li>Projects</li>
                    </a>
                    <a href="/" class="footer_link">
                        <li>Products</li>
                    </a>
                </ul>
            </div>
            <div class="col footer_col text-uppercase">
                <p class="footer_title">PRODUCTS</p>
                <hr>
                <ul>
                    <a href="/" class="footer_link">
                        <li>Beats</li>
                    </a>
                    <a href="/" class="footer_link">
                        <li>Mixing</li>
                    </a>
                    <a href="/" class="footer_link">
                        <li>Mastering</li>
                    </a>
                </ul>
            </div>
            <div class="col footer_col text-uppercase">
                <p class="footer_title">PROJECTS</p>
                <hr>
                <ul>
                    <a href="/projects#albums_carousel_div" class="footer_link">
                        <li>Albums</li>
                    </a>
                    <a href="/projects#singles_carousel_div" class="footer_link">
                        <li>Singles</li>
                    </a>
                    <a href="/projects#featurings_carousel_div" class="footer_link">
                        <li>Featurings</li>
                    </a>
                </ul>
            </div>
            <div class="col footer_col text-uppercase">
                <p class="footer_title">ALBUMS</p>
                <hr>
                <ul>
                    {% set albums_names = [
                        {'name': 'with love from Azuko', 'url': 'with_love_from_azuko'},
                        {'name': 'ВРЕМЯ ПЕРЕМЕН', 'url': 'time_for_change'},
                        {'name': 'Highway Of Love (Deluxe)', 'url': 'highway_of_love_deluxe'},
                        {'name': 'Highway Of Love', 'url': 'highway_of_love'},
                        {'name': 'Mileran Vibes', 'url': 'mileran_vibes'},
                        {'name': 'Life Is Full Of Lies 2', 'url': 'life_is_full_of_lies_2'},
                        {'name': 'Life Is Full Of Lies', 'url': 'life_is_full_of_lies'}
                        ] 
                    %}
                    {% for album_info in albums_names %}
                    <a href="/{{ album_info.url }}" class="footer_link">
                        <li>{{ album_info.name }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <a href="/" class="text-decoration-none">
                    <button class="order_service_button">ORDER SERVICE</button>
                </a>
                <p class="mb-0 mt-2 support_description">SUPPORT&nbsp;&nbsp;THE&nbsp;&nbsp;AUTHOR</p>
                <div class="d-flex justify-content-between align-items-center column-gap-2 mt-1 contacts">
                    <a href="/">tazumaki@mail.ru</a>
                    <a href="/"><i class="fa-brands fa-vk fa-xl"></i></a>
                    <a href="/"><i class="fa-brands fa-telegram fa-xl"></i></a>
                    <a href="/"><i class="fa-brands fa-youtube fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}