{% block header %}
<header>
    <nav class="navbar navbar-expand fixed-top px-3 py-0 mt-3">
        <div class="container nav_container d-flex justify-content-between">
            <a href="/" class="navbar-brand"><img src="{{url_for('static', path='/images/logo_azuko.svg')}}" width="120"
                    alt="AZUKO"></a>
            <div class="navbar_links">
                <a href="/">HOME</a>
                <a href="/playlist">PLAYLIST</a>
                <a href="/projects">PROJECTS</a>
                <a href="/products">PRODUCTS</a>
            </div>
            <a href="/shopping_cart" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
</header>
{% endblock %}