<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for album in albums %}
        <h1>Album: {{ album.title }}</h1>
        <h4>Date Release: {{ album.date_release }}</h4>
        <p>
            {% for artist in album.artists %}
                {{ artist.name + ', ' if not loop.last else artist.name }}
            {% endfor %}
        </p>
        <ul>
            {% for track in album.tracks %}
            <li>
                <div class="d-flex flex-column">
                    {{ track.title }}
                    {{ track.duration }}
                    {% for artist in track.artists %}
                        {{ artist.name + ', ' if not loop.last else artist.name }}
                    {% endfor %}
                </div>
            </li>    
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>