<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azuko</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/public/bundle.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon_azuko.ico') }}" type="image/x-icon">
</head>

<body style="background-color: rgb(37, 37, 37);">

    {% include 'elements/bg_video.html' %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-12">
                <h1 class="welcome">Attention! Website is under construction. Enjoy watching :3</h1>
            </div>
        </div>
    </div>

</body>

</html>